@import "../../constants/reusable";

.inner {
  padding-top: 130px;
  padding-bottom: 278px;
}

.buttonsAndBoard {
  padding-top: 88px;
}

.title {
  line-height: 72px;
  @include text($font: $titles-font, $size: 80px, $spacing: -1.5px);
}

.buttonsAndBoard {
  @include flexblock($direction: column, $gap: 32px);
}

.buttons {
  @include flexblock($gap: 32px);
}

.button {
  @include button(99px, 18px 24px, 1px solid $gray-100, $white-100, $black-100);
}

.button.active {
  background-color: $black-100;
  color: $white-100;
  border: none;
}