.inner {
  padding-top: 124px;
  padding-bottom: 280px;
}

.buttonsAndBoard {
  padding-top: 88px;
}

.title {
  font-family: "RightGrotesk";
  font-size: 80px;
  line-height: 72px;
  letter-spacing: -1.5px;
}

.buttonsAndBoard {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.buttons {
  display: flex;
  gap: 32px;
}

.button {
  border: 1px solid rgba(225, 229, 240, 1);
  color: #000000;
  background-color: #ffffff;
  padding: 18px 24px;
  outline: none;
  border-radius: 99px;
}

.button.active {
  background-color: #000000;
  color: #ffffff;
  border: none;
}