.titleBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px 32px 32px 32px;
}

.titleBlock.recentJoins {
  padding-bottom: 24px;
}

.title {
  font-size: 32px;
  letter-spacing: -1px;
}

.text {
  font-size: 17px;
  letter-spacing: -0.5px;
}