.header {
  padding-top: 30px;
}

.inner {
  display: flex;
  justify-content: center;
}

.navInner {
  display: flex;
  gap: 112px;
}

.linkBlock {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navsWithLogoInCenter {
  display: flex;
  gap: 96px;
}

.iconBlock {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #000000;
}