.item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item:last-of-type {
  border-bottom: none;
}

.inner {
  display: flex;
  padding: 24.5px 32px 24px 27px;
  font-size: 17px;
  letter-spacing: -0.5px;
}

.rank {
  width: 6.25%;
  display: flex;
  align-items: center;
}

.user {
  width: 43.25%;
  display: flex;
  gap: 16px;
  padding-left: 6px;
  align-items: center;
}

.invitedBy {
  width: 44%;
  display: flex;
  gap: 16px;
  align-items: center;
  padding-left: 16px;
}

.points {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.points.leaderboard {
  width: 7%;
}

.avatar, .invitedByAvatar, .sourceIcon {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.pointsSymbolWrapper {
  width: 24px;
  height: 24px;
  background-color: rgba(22, 87, 255, 1);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timestamp {
  width: 15.6%;
  display: flex;
  align-items: center;
}

.source {
  width: 80.75%;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 8px;
}

.points.mypoints{
  width: 3.65%;
}

.sourceIconWrapper {
  width: 32px;
  height: 32px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 8px;
}

.sourceIconWrapper .sourceIcon{
  width: 100%;
  height: 100%;
}

.joined {
  width: 15.5%;
  display: flex;
  align-items: center;
}

.referral {
  width: 34%;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 8px;
}

.wallet {
  width: 46.8%;
  align-items: center;
  display: flex;
  padding-left: 9px;
}

.points.myreferrals {
  width: 3.7%;
}