@import "../../constants/reusable";

.footer {
  background-color: $gray-40;
}

.logo {
  @include flexblock($justify: center);
  padding: 140px 0;
}

.navigation {
  padding-bottom: 140px;
  @include flexblock;
  @include border($top: 1px, $bottom: 1px);
}

.title {
  width: 50%;
  padding: 32px 0 0 32px;
}

.navsList {
  width: 50%;
}

.li {
  padding: 32px 0 32px 16px;
  text-decoration: none;
  @include border($bottom: 1px);
  @include flexblock($align: center, $gap: 8px);
}

.li:last-of-type {
  border-bottom: none;
}

.qrAndSocials {
  @include flexblock($direction: column);
}

.upperBlock {
  @include flexblock;
}

.qrAndSocialsTitle {
  width: 50%;
  line-height: 72px;
  padding: 24px 240px 0 32px;
  @include text($size: 80px, $spacing: -1.5px, $font: $titles-font);
}

.socialsListBlock {
  width: 50%;
  @include flexblock;
}

.socialsListTitle {
  width: 100%;
  padding-top: 33px;
}

.list {
  width: 100%;
  @include flexblock($direction: column);
}

.socialsListItem {
  text-decoration: none;
  padding: 34px 0 34px 16px;
  @include border($bottom: 1px);
}

.socialsListItem:last-of-type {
  border: none;
}

.lowerBlock {
  padding: 63px 32px 32px;
  @include flexblock;
}

.blockWithQr, .blockWithoutQr {
  width: 50%;
}

.blockWithoutQr {
  @include flexblock($justify: space-between);
}

.sierra {
  margin-left: 194px;
  position: relative;
  top: -4px;
}

.privacyPolicy, .termsOfUse {
  position: relative;
  top: -4px;
  color: $black-60;
  text-decoration: none;
  @include flexblock($direction: column-reverse);
}

