@import "../../../constants/reusable";

.li {
  @include border($top: 1px);
  padding: 32px;
}

.li:last-of-type {
  padding: 29px 32px;
}

.inner {
  width: 100%;
  @include flexblock($justify: space-between, $align: center);
}

.imageWithTitle {
  @include flexblock($align: center, $gap: 28px);
}

.image {
  width: 64px;
  height: 64px;
}

.imageContainer {
  @include imageContainer(64px, 64px, 8px, $black-100);
}

.image.x {
  width: 30px;
  height: 30px;
}

.title {
  @include text($size: 32px, $spacing: -1px);
  padding-top: 2px;
}

.button {
  border-radius: 99px;
  padding: 16px 24px;
  outline: none;
  border: none;
  background-color: $blue-100;
  color: $white-100;
  height: fit-content;
  @include flexblock($align: center, $gap: 10px);
}

.button.disabled {
  color: $black-60;
  background-color: $gray-40;
}