@import "../node_modules/modern-normalize/modern-normalize.css";
@import "./constants/reusable";

@font-face {
  font-family: $main-font;
  src:
    url("./assets/fonts/SuisseIntl-Medium.ttf") format("truetype"),
    url("./assets/fonts/SuisseIntl-Regular.ttf") format("truetype");
}

@font-face {
  font-family: $titles-font;
  src: url("./assets/fonts/RightGrotesk-Medium.otf") format("opentype");
}

* {
  @include text;
}

body {
  color: $black-100;
}

.container {
  max-width: 1760px;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}
